.titleOne{
    left: 700px;
    bottom: 236px;
}

.titleTwo {
    left: 120px;
    bottom: 206px;
}
.titleThree {
    left: 49px;
    bottom: 98px;
}
.titleFour {
    right: 104px;
    bottom: 200px;
}
.titleFive {
    right: 52px;
    bottom: 74px;
}